.getstartedd{
    display: flex;
    width: 80vw;
    height: 100vh;
}
.getstartedd_sectionone{
    background-color: white;
    height: 100vh;
    width: 20vw;
   
}
.getstartedd_sectiontwo{
    background-color: #E4E4E4;
    height: 100vh;
    width: 80vw;
    
}
.icon_nav{
    width: 79vw;
    line-height: 5vh;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.getstartedd_sectionone > img{
    width: 20vw;
    height: 5vh;
    background-color: #000000;
}
.icon_nav_bi{
    margin-left: 2vw;
    margin-top: 1vh;
}
.icon_nav_ai{
    margin-right: 2vw;
    margin-top: 1vh;
}
.contact_support{
    margin-left: 3vw;
    margin-top: 10vh;
}
ul{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.getstartedd_sectionone li{
    font-size: 17px;
    padding-left: 20px;
    padding-top: 30px;
    
    
  
}

.contactbut{
    padding-top: 130px;
}

.contact_support{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;

}
.crypto_wallet_bal{
    width: 75vw;
    height: 25vh;
    margin-left: 1vw;
}
.ppp{
    display: flex;
    justify-content: space-between;
    overflow-x:auto;
}
.fetchy{
    position: relative;
    top: 4vh;
    left: 2vh;
    width: 76vw;
    overflow-x:auto;
}
@media (max-width:425px){
    .getstartedd{
        flex-direction: column;
        height: 200vh;
        background-color: #E4E4E4;
    }
    .getstartedd_sectionone{
        display: none;
    }
    .getstartedd_sectiontwo{
        width: 100vw;
    }
    .icon_nav{
        width: 100vw;
    }
    .crypto_wallet_bal{
        width: 100vw;
        height: 70vh;
    }
    .ppp{
        flex-direction: column;
        justify-content: space-between;
        height: 70vh;
    }
    .fetchy{
        top: 20vh;
        left: 1vw;
        width: 100vw;
        background-color: #E4E4E4;
    }
}